# Keycloak configuration
KEYCLOAK_BASE_URL=https://auth.example.com
KEYCLOAK_REALM=example
KEYCLOAK_CLIENT_ID=example-client
KEYCLOAK_CLIENT_SECRET="YourSecret"
KEYCLOAK_REDIRECT_URI=https://redirect.example.com

# Same as the jitsi config
JITSI_DOMAIN=meet.example.com
JWT_APP_ID=example-client
JWT_APP_SECRET="TokenSecret"

# jitsi configuration

# This will skip the pre join page in jitsi while redirected.
DISABLE_PREJOIN_PAGE=false
